################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/Robot_3D/.vs/Robot_3D/v17/.suo
/Robot_3D/.vs/Robot_3D/v17/DocumentLayout.json
/.vs
